# You can put your files in `data` directory - they will be ignored by GIT
/data/*

# We keep example files in the GIT
!/data/examples
/data/examples/*.gif

# JetBrains products
.idea

# VS Code
.vscode

# Temp files
/temp
